result

# OpenTofu working data and local state. Commit .terraform.lock.hcl.
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
crash.log
crash.*.log
*.tfvars
*.tfvars.json
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
